# Игнорируем локальные настройки окружения
.env.local
.env.*.local

# Игнорируем локальные зависимости (Docker установит свои внутри)
node_modules

# Игнорируем папку сборки
dist

# Игнорируем логи и временные файлы
npm-debug.log*
.git
.vscode
.vs